.contents-card {
  padding: 20px;
  box-sizing: content-box;
  display: flex;
  margin: 0 0 var(--gap);
  position: relative;
}

.mini-card {
  padding: 1.5rem;
  border-radius: 16px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  color: #fff;
  /* flex-direction: column-reverse; */
  transition: 0.2s;
  margin: 0;
}

.mini-card a {
  text-decoration: none;
}
.mini-card h3 a {
  color: #fff !important;
}
.mini-card h3 .aal_anchor {
  display: none;
}
.mini-card .tags {
  margin: 0 0 0.5rem;
}
.mini-card .author-name {
  color: #fff;
}
.mini-card time {
  display: block;
  margin: 0 0 0.25rem;
  color: #777;
}
.mini-card time strong {
  color: #d4d4d4;
}
.mini-card {
  min-width: 300px;
  min-height: 350px;
  box-shadow: -2rem 0 3rem -2rem #333;
}
.mini-card:focus-within,
.mini-card:hover {
  transform: translateY(-1rem) rotate(3deg);
}
.mini-card:focus-within ~ .mini-card,
.mini-card:hover ~ .mini-card {
  transform: translateX(130px);
}
.mini-card:first-child:focus-within,
.mini-card:first-child:hover {
  transform: translate(-0.5rem, -1rem) rotate(3deg);
}
.mini-card:not(:first-child) {
  margin-left: -130px;
  box-shadow: -3rem 0 3rem -2rem #333;
}
@media (max-width: 1200px) {
  .mini-card {
    min-width: 220px;
  }
  .mini-card:not(:first-child) {
    margin-left: -30px;
  }
  .mini-card:hover {
    transform: translateY(-1rem);
  }
  .mini-card:hover ~ .mini-card {
    transform: translateX(30px);
  }
}
@media (max-width: 800px) {
  body.home .mini-card {
    min-width: 190px;
  }
  body.home .mini-card:not(:first-child) {
    margin-left: -10px;
  }
  body.home .mini-card:hover {
    transform: translateY(-1rem);
  }
  body.home .mini-card:hover ~ .mini-card {
    transform: translateX(10px);
  }
}
.mini-card-title {
  font-size: 1.3rem;
  margin: 0 0 1rem;
}
