@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.works-body {
  margin: 10vh auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
}

.works-body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-body .container .card {
  cursor: pointer;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  background: #000;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.works-body .container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-body .container .card .face.face1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.works-body .container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}

.works-body .container .card .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.works-body .container .card .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.works-body .container .card .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.works-body .container .card .face.face2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-body .container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.works-body .container .card:hover .face.face2 {
  height: 60px;
}

.works-body .container .card:hover .face.face2 h2 {
  font-size: 2em;
}

.works-body .container .card:nth-child(1) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.works-body .container .card:nth-child(2) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.works-body .container .card:nth-child(3) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.works-body .container .card:nth-child(4) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.works-body .container .card:nth-child(5) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.works-body .container .card:nth-child(6) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.works-body .container .card:nth-child(7) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.works-body .container .card:nth-child(8) .face.face2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(117, 19, 93, 0))), url("../../assets/sulbi.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(117, 19, 93, 0)), url("../../assets/sulbi.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
/*# sourceMappingURL=works.css.map */