.Parallax {
  display: flex;
  justify-content: center;

  &__background,
  &__background-triangles {
    width: 1080px;
    height: 1280px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  &__background {
    background-image: url("https://images.unsplash.com/photo-1502784444187-359ac186c5bb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1301&q=80");
  }

  &__background-triangles {
    background-image: url("https://images.unsplash.com/photo-1596241913242-b20788b3dfeb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  }

  &__content {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 100px;

    &__heading,
    &__cta {
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    &__heading {
      background-color: #fff;
      width: 40%;
      padding: 40px;

      &__text {
        margin: 10px 0;
        font-size: 60px;
      }

      &__caption {
        margin: 0;
        font-size: 20px;
      }
    }

    &__cta {
      background-color: #ff737e;
      width: 60%;
      padding: 40px;

      font-size: 20px;
      color: #fff;

      margin-top: 120px;
    }
  }
}
