.main {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

.hero-container a {
  text-decoration: none;
}

.hero-container h1 {
  color: #fff;
  font-size: 5rem;
}

.hero-container p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
}

/* hero inside */

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 3rem;
    margin-top: -150px;
  }
}
@media screen and (max-width: 768px) {
  .hero-container h1 {
    font-size: 2.2rem;
  }
  .hero-container > p {
    font-size: 1.5rem;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
  }
}
