.main {
  margin-top: -70px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1519225924453-b28226426689?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  perspective: 1000px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.hero-container {
  margin-top: -40px;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 60vh;
  width: 25rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 0rem 5rem;
  box-shadow: 0 10px 15px rgba(245, 255, 255, 0.5),
    0 0px 40px rgba(245, 178, 178, 0.5);
}

.object {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.circle {
  background: linear-gradient(
    to bottom,
    rgba(247, 6, 1, 0.4),
    rgba(82, 59, 61, 0.1)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 10px 15px #3b3b3b;
  margin-top: -50px;
}

.circle img {
  width: 15rem;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 2;
  margin-top: -20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.info h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
  color: white;
  transform: all 0.95s ease-out;
}
.info h3 {
  font-size: 1rem;
  padding-bottom: 30px;
  color: #585858;
  font-weight: lighter;
  text-transform: uppercase;
}
.menu {
  display: flex;
}

.menu button {
  margin-right: 20px;
  padding: 0.5rem 2rem;
  background: none;
  border: 1px solid #585858;
  box-shadow: 0px 5px 10px rgba(247, 245, 245, 0.2);
  cursor: pointer;
  border-radius: 20px;
  font-size: bold;
  color: white;
  text-transform: uppercase;
}

button.active {
  background: #585858;
  color: white;
  border: 1px solid white;
  box-shadow: 0px 3px 10px white;
  transform: all 1s ease-in;
}

.shop {
  margin-top: 4rem;
}

.shop button {
  width: 300px;
  color: white;
  padding: 0.7rem 0rem;
  background: lightcoral;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
}

.shop button:hover {
  border: 1px solid white;
  box-shadow: 0px 3px 10px white;
}

/* mobile */
